.bg-color1 {
  background-color: rgb(173, 25, 25) !important;
}

.bg-color2 {
  background-color: rgb(10, 10, 10) !important;
}

.bg-color3 {
  background-color: rgb(59, 59, 59);
}

.color1 {
  color: rgb(173, 25, 25) !important;
}

.color2 {
  color: rgb(10, 10, 10) !important;
}
