{% extends "base.html" %}
{% block title %}Character{% endblock %}

{% block content %}

<!-- Forms to select role -->
<section>
    <div class="container p-3">
        <h2 class="text-center">Choose a Character</h2>
        <div class="row">
            <form action="/character" method="post">
              <select name="adjective">
                {% for adjective in adj1 %}
                  <option value="{{adjective}}"> {{adjective}}</option>
                {% endfor %}
                {% if user.currency >= 10 %}
                  {% for adjective in adj2 %}
                    <option value="{{adjective}}"> {{adjective}}</option>
                  {% endfor %}
                {% endif %}
                {% if user.currency >= 50 %}
                  {% for adjective in adj3 %}
                    <option value="{{adjective}}"> {{adjective}}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <select name="role">
                {% for role in role1 %}
                  <option value="{{role}}"> {{role}}</option>
                {% endfor %}
                {% if user.currency >= 10 %}
                  {% for role in role2 %}
                    <option value="{{role}}"> {{role}}</option>
                  {% endfor %}
                {% endif %}
                {% if user.currency >= 50 %}
                  {% for role in role3 %}
                    <option value="{{role}}"> {{role}}</option>
                  {% endfor %}
                {% endif %}
              </select>
              <input type="submit" value="submit">
            </form>
        </div>
    </div>
</section>

<section class="bg-color1">
    <div class="row container">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <td>{{ user.adjective }} {{ user.username }} The {{ user.role }}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Currency</th>
                    <td>{{ user.currency }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col">
            <p>IMAGE OR SOMETHING MAYBE</p>
        </div>
    </div>
</section>

{% endblock %}