{% extends "base.html" %}
{% block title %}Character{% endblock %}

{% block content %}

<!-- Forms to select role -->
<section class="bg-color2">
  <div class="container">
      <div class="row align-items-center justify-content-center pt-3">
          <div class="col-lg p-3 w-100">
            <h1 class="text-uppercase text-purple">Your Role</h1>
            <h2 class="fs-5">You Are {{ user.adjective }} {{ user.username }} The {{ user.role }}</h2>
            <h3>Fame Level: <span style="color: purple;">{{ user.currency }}</span></h3>
            <div>
                <form class="d-flex align-items-start justify-content-start" action="/character" method="post">
                  <select name="adjective" class="p-2">
                    {% for adjective in adj1 %}
                      <option value="{{adjective}}" 
                      {% if adjective == user.adjective %}
                        selected
                      {% endif %}            
                      > {{adjective}}</option>
                    {% endfor %}
                    {% if user.currency >= 10 %}
                      {% for adjective in adj2 %}
                        <option value="{{adjective}}" 
                        {% if adjective == user.adjective %}
                          selected
                        {% endif %}
                        > {{adjective}}</option>
                      {% endfor %}
                    {% endif %}
                    {% if user.currency >= 50 %}
                      {% for adjective in adj3 %}
                        <option value="{{adjective}}" 
                        {% if adjective == user.adjective %}
                          selected
                        {% endif %}
                        > {{adjective}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <p class="p-2">{{user.username}}</p>
                  <select name="role" class="p-2">
                    {% for role in role1 %}
                      <option value="{{role}}" 
                      {% if role == user.role %}
                          selected
                      {% endif %}
                      > {{role}}</option>
                    {% endfor %}
                    {% if user.currency >= 10 %}
                      {% for role in role2 %}
                        <option value="{{role}}" 
                        {% if role == user.role %}
                          selected
                        {% endif %}
                        > {{role}}</option>
                      {% endfor %}
                    {% endif %}
                    {% if user.currency >= 50 %}
                      {% for role in role3 %}
                        <option value="{{role}}" 
                        {% if role == user.role %}
                          selected
                        {% endif %}
                        > {{role}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                  <input type="submit" class="ml-2 p-2 btn submit-button" value="Alter Role">
                </form>
            </div>
          </div>
          <div class="col-lg">
              <img class="w-100 d-none d-lg-block" src="{{ url_for('static', filename='WebApps-Wizard.png') }}" alt="wizard">
          </div>
      </div>
  </div>
</section>

<!-- About Switching Roles -->
<section class="bg-color4">
  <div class="container">
      <div class="row align-items-center pt-3">
        <div class="col-lg">
          <img class="img-fluid" src="{{ url_for('static', filename='WebApps-Goblin.png') }}" alt="wizard">
        </div>
        <div class="col-lg">
          <h2>Switching Roles</h2>
          <div>
              <p>Role Chat is all about pretending to be someone who you are not.
                We wanted to allow for people to really express themselves through roleplaying-
                which isn't very fun nor interesting if there is only one option. In the above section,
                you are able to select different modifiers to form your Role Chat persona. Would you like
                to be Strong jimBoy89 The Wizard? Or perhaps Smart jimBoy89 The Goblin is a better fit for you.
                Whatever the case, there are plenty of roles you can choose from to take with you into the
                chat room!
              </p>
          </div>
        </div>
      </div>
  </div>
</section>

<!-- Unlocking New Roles -->
<section class="bg-color3">
  <div class="container">
      <div class="row align-items-center pt-3">
        <div class="col-lg">
          <h2>Unlocking New Roles</h2>
          <div>
              <p>Need more roles? No worries, there are plenty of roles that you can unlock through gaining fame in the chatroom. If somebody likes
                your deal, they are able to click on your username to boost your fame level. Reach different levels of fame to unlock super cool roles
                such as British you The Velociraptor or Conservative you The Liberal! The possibilities are endless! (Disclaimer: this previous statement
                was meant to be taken as more of a figure of speech as opposed to there literally being endless options. I mean come on, what do you think
                this is, Garry's Mod?)
              </p>
          </div>
        </div>
        <div class="col-lg">
          <img class="img-fluid" src="{{ url_for('static', filename='WebApps-Alien.png') }}" alt="wizard">
        </div>
      </div>
  </div>
</section>

<!-- Tier 1 Roles -->
<section class="bg-color2 p-3">
  <div class="container">
    <h1>Tier 1 Roles</h1>
    <p>Unlocked by Creating an Account</p>
    <div class="row">
      <div align='center' class="col list-group list-group-flush">
        <ul>
          {% for adj in adj1 %}
            <li class="list-group-item">{{adj}}</li>
          {% endfor %}
        </ul>
      </div>
      <div align='center' class="col">
        {% for role in role1 %}
            <li class="list-group-item">{{role}}</li>
          {% endfor %}
      </div>
    </div>
    
  </div>
</section>

<!-- Tier 2 Roles -->
<section class="bg-color1 p-3">
  <div class="container">
    <h1>Tier 2 Roles</h1>
    <p>Unlocked by Reaching 10 Fame</p>
    <div class="row">
      <div align='center' class="col list-group list-group-flush">
        <ul>
          {% for adj in adj2 %}
            <li class="list-group-item">{{adj}}</li>
          {% endfor %}
        </ul>
      </div>
      <div align='center' class="col">
        {% for role in role2 %}
            <li class="list-group-item">{{role}}</li>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Tier 3 Roles -->
<section class="bg-color2 p-3">
  <div class="container">
    <h1>Tier 3 Roles</h1>
    <p>Unlocked by Reaching 50 Fame</p>
    <div class="row">
      <div align='center' class="col list-group list-group-flush">
        <ul>
          {% for adj in adj3 %}
            <li class="list-group-item">{{adj}}</li>
          {% endfor %}
        </ul>
      </div>
      <div align='center' class="col">
        {% for role in role3 %}
            <li class="list-group-item">{{role}}</li>
          {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}