{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script>
var socket = io();

const username = '{{ context.username }}';
const adjective = '{{ context.adjective }}';
const role = 'The ' + '{{ context.role }}';
const fullName = adjective + ' ' + username + ' ' + role;
console.log(fullName);
//console.log(username);
//console.log(adjective);
//console.log(role);

$(document).ready(function() {
    
    socket = io.connect('https://web-applications-spr22.ue.r.appspot.com');

    socket.on('connect', function() {
        $('#mainNavBar').hide();
        socket.emit('user_joined', {user: fullName, id: username});
    });

    socket.on('changeUsers', function(data) {
        $('#users').empty();
        $('h5').text('(' + data.numClients + '/10)');
        for (let x=0; x < data.clients.length; x++) {
            user = document.createElement("li");
            user.appendChild(document.createTextNode(data.clients[x]));
            $('#users').append(user);
        }
    });

    socket.on('status', function(data) {
        var entry;
        entry = document.createElement("p");
        newSpan = document.createElement("span");
        message = document.createTextNode(data.msg);
        bold = document.createElement("strong");
        fullUser = document.createTextNode(data.user);
        bold.appendChild(fullUser);
        newSpan.appendChild(document.createTextNode('<'));
        newSpan.appendChild(bold);
        newSpan.appendChild(message);
        entry.appendChild(newSpan);
        if (data.user != fullName) {
            entry.setAttribute('class', 'other-msg');
            $('#messages').append(entry);
        }
        else {
            entry.setAttribute('class', 'my-msg');
            $('#messages').append(entry);
        }
    });

    socket.on('message', function(data) {
        var entry;
        entry = document.createElement("p");
        newSpan = document.createElement("span");
        newButton = document.createElement("button");
        bold = document.createElement("strong");
        message = document.createTextNode(data.msg);
        fullUser = document.createTextNode(data.fullUser + ':     ');
        newButton.innerHTML = "";
        newButton.setAttribute('class', 'bi bi-heart chat-room-like-button');
        newButton.onclick = function ()
        {
            this.setAttribute('class', 'bi bi-heart-fill chat-room-like-button');
            socket.emit('liked_msg', data.user);
            this.disabled = true;
        };
        if (data.user != username) {
            entry.setAttribute('class', 'other-msg');
            bold.appendChild(newButton);
        }
        else {
            entry.setAttribute('class', 'my-msg');
        }
        bold.appendChild(fullUser);
        newSpan.appendChild(bold);
        newSpan.appendChild(message);
        entry.appendChild(newSpan);
        $('#messages').append(entry);
    });

    $('#sendbutton').on('click', function(x) {
        userMessage = $('#myMessage').val();
        $('#myMessage').val('');
        socket.emit('message', {user: username, fullUser: fullName, msg: userMessage});
    });

    $('#myMessage').keypress(function(x) {
        var code = x.keyCode || x.which;
        if (code == 13) {
            text = $('#myMessage').val();
            $('#myMessage').val('');
            socket.emit('message', {user: username, fullUser: fullName, msg: text});
        }
    });

    $('#leavebutton').on('click', function() {
        socket.emit('user_left', {user: fullName, id: username});
        window.location.href = "{{ url_for('views.home') }}";
    });

});
</script>
    
<!-- Chat Rooms -->
<!-- <section class="container">
    <div class="realm-selection-box w-100 bg-color3 mt-5">
        <div class="realm-select-button">Mars</div>
        <div class="realm-select-button">Wizard's Castle</div>
        <div class="realm-select-button">Cowboy World</div>
        <div class="realm-select-button">Hospital</div>
        <div class="realm-select-button">The Beach</div>
        <div class="realm-select-button">Warzone</div>
    </div>
    <input type="submit" value="submit">
</section> -->

<nav class="navbar navbar-expand-lg navbar-light navbar-custom d-flex-lg" id="mainNavBar">
    <div class="container">
        <button class="navbar-toggler navbar-button-custom" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <img class="navbar-logo d-none d-lg-block" src="{{ url_for('static', filename='WebApps-RoleChatLogo.png') }}" alt="Role Chat Logo">
            <button class="nav-item navbar-button-custom nav-link" id="leavebutton">Leave Chat Room</button>
          </div>
        </div>
    </div>
</nav>

<section class="container mt-3">
    <h1>Welcome To The Chat Room</h1>
    <div class="row">
        <div class="col-lg-10 bg-color3 chat-room d-flex flex-column align-items-end justify-content-sm-end scroll-bg">
            <div class="scroll-div">
                <!-- Whenever someone sends a message, you can append the msg to the list "messages"-->
                <ul class="scroll-object" id="messages"></ul>
            </div>
            <div class="d-flex flex-row chat-fields ">
                <p class="lead chat-room-username-bottom mr-2 mt-2">{{ user.username }}:</p>
                <input type="text" id="myMessage">
                <button id="sendbutton">Send</button>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-column align-items-start bg-color1">
            <h3>Users:</h3>
            <span><h5 id="userCount">(0/10)</h5></span>
            <!-- Whenever someone joins the chat room, you can just append their username to the list "users"-->
            <ul id="users">
                <!-- The easiest way I can think of to have like buttons is to turn this list into a bunch of buttons.
                Each button can be for a joined user and if clicked, it will increase their fame by 1. These buttons would 
                do a post request to this page. This would be handled within "views.py" in the "Chat route".
                
                for each username, you might have to create a separate form but idk. EG

                <form action="#" method="post">
                    <input type="radio" id="username123" class="hidden" name="username123" value="username123" checked><label for="huey">Huey</label>
                    <button type="submit">Username123</button>
                </form>
                -->
            </ul>
        </div>
    </div>
</section>
{% endblock %}