{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<!-- Chat Rooms -->
<!-- <section class="container">
    <div class="realm-selection-box w-100 bg-color3 mt-5">
        <div class="realm-select-button">Mars</div>
        <div class="realm-select-button">Wizard's Castle</div>
        <div class="realm-select-button">Cowboy World</div>
        <div class="realm-select-button">Hospital</div>
        <div class="realm-select-button">The Beach</div>
        <div class="realm-select-button">Warzone</div>
    </div>
    <input type="submit" value="submit">
</section> -->

<ul id="messages"></ul>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>

{% endblock %}