{% extends "base.html" %}
{% block title %}Chat{% endblock %}

{% block content %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<!-- Chat Rooms -->
<!-- <section class="container">
    <div class="realm-selection-box w-100 bg-color3 mt-5">
        <div class="realm-select-button">Mars</div>
        <div class="realm-select-button">Wizard's Castle</div>
        <div class="realm-select-button">Cowboy World</div>
        <div class="realm-select-button">Hospital</div>
        <div class="realm-select-button">The Beach</div>
        <div class="realm-select-button">Warzone</div>
    </div>
    <input type="submit" value="submit">
</section> -->

<section class="container mt-3">
    <h1>Welcome To The Chat Room</h1>
    <div class="row">
        <div class="col-lg-10 bg-color3 chat-room d-flex flex-column align-items-end justify-content-sm-end scroll-bg">
            <div class="scroll-div">
                <!-- Whenever someone sends a message, you can append the msg to the list "messages"-->
                <ul class="scroll-object" id="messages">
                    <p class="my-msg"><span class="chat-room-username">{{user.adjective}} {{user.username}} The {{user.role}}</span> Has Connected...</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                    <p class="my-msg"><span class="chat-room-username">{{user.adjective}} {{user.username}} The {{user.role}}</span> MESSAGE SENT BY ME</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                    <p class="my-msg"><span class="chat-room-username">{{user.adjective}} {{user.username}} The {{user.role}}</span> MESSAGE SENT BY ME</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                    <p class="my-msg"><span class="chat-room-username">{{user.adjective}} {{user.username}} The {{user.role}}</span> MESSAGE SENT BY ME</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                    <p class="my-msg"><span class="chat-room-username">{{user.adjective}} {{user.username}} The {{user.role}}</span> MESSAGE SENT BY ME</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p><p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                    <p class="my-msg"><span class="chat-room-username">{{user.adjective}} {{user.username}} The {{user.role}}</span> MESSAGE SENT BY ME</p>
                    <p class="other-msg"><span class="chat-room-username">therusername78</span>MESSAGE SENT BY OTHER USER</p>
                </ul>
            </div>
            <div class="d-flex flex-row chat-fields ">
                <p class="lead chat-room-username-bottom">{{user.adjective}} {{user.username}} The {{user.role}}</p>
                <input type="text" id="myMessage">
                <button id="sendbutton">Send</button>
            </div>
        </div>
        <div class="col-lg-2 d-flex flex-column align-items-start bg-color1">
            <h3>Users:</h3>
            <h5>(0/10)</h5>
            <!-- Whenever someone joins the chat room, you can just append their username to the list "users"-->
            <ul id="users">
                <!-- The easiest way I can think of to have like buttons is to turn this list into a bunch of buttons.
                Each button can be for a joined user and if clicked, it will increase their fame by 1. These buttons would 
                do a post request to this page. This would be handled within "views.py" in the "Chat route".
                
                for each username, you might have to create a separate form but idk. EG

                <form action="#" method="post">
                    <input type="radio" id="username123" class="hidden" name="username123" value="username123" checked><label for="huey">Huey</label>
                    <button type="submit">Username123</button>
                </form>

                -->
                <p>username1</p>
                <p class="chat-current-user">{{user.username}}</p>
                <p>username3</p>
                <p>username4</p>
                <p>username5</p>
                <p>username6</p>
                <p>username7</p>
                <p>username8</p>
                <p>username9</p>
                <p>username10</p>
            </ul>
        </div>
    </div>
</section>



{% endblock %}