{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Wizard Conversation Section-->
<section class="bg-color2">
    <div class="container">
        <h1 class="heading-custom">Greetings Traveler!</h1>
        <div class="homepage-wizard bg-color1">
            <div class="homepage-dialogue-box bg-color2">
                <p class="homepage-response">How can I help you?</p>
            </div>
        </div>
        <div class="pb-3 w-100">
            <div class="row w-100 justify-content-center">
                <button class="col-lg homepage-response-button">How Are You?</button>
                <button class="col-lg homepage-response-button">What is your role?</button>
                <button class="col-lg homepage-response-button">What is Role Chat?</button>
            </div>
        </div>
    </div>
</section>

<!-- About Section-->
<section class="bg-color1">
    <div class="container">
        <h1 class="heading-custom bg-color1">About</h1>
        <div class="row align-items-center">
            <div class="col">
                <p>
                    Role Chat is a website created by Chris Bouton, Troy Nolan, and Thomas West. This website
                    allows for people to be someone who they are not. Define your role on the Character page and
                    then jump into one of limitless potential interactions on the Chat page.
                </p>
                {% if not user.is_authenticated %}
                        <p><span class="h3">Don't see these pages? Well, that's because you need to make an account first,
                            <br/>Silly you The Not User!</span></p>
                {% endif %}
            </div>
            <div class="col-lg">
                <img class="w-100 p-5 rounded-circle" src="{{ url_for('static', filename='WebApps-RoleChat.png') }}" alt="wizard">
            </div>
        </div>
    </div>
</section>
{% endblock %}