body
{
    background-color: rgb(255, 218, 253) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.bg-color1
{
    background-color: rgb(232, 170, 247) !important;
}

.bg-color2
{
    background-color: rgb(255, 218, 253) !important;
}

.bg-color3
{
    background-color: rgb(218, 238, 255) !important;
}

.bg-color4
{
    background-color: rgb(188, 236, 191) !important;
}

.navbar-custom
{
    background-color: rgb(232, 170, 247) !important;
    display: flex;
}

.navbar-logo
{
    height: 75px;
}

.navbar-button-custom
{
    font-weight: bolder;
    align-self: center !important;
    text-align: center;
    color: black !important;
    background-color: rgb(255, 218, 253) !important;
    border-radius: 1em;
    margin: .5em 1em;
    padding: .5em 1em;
    width: 7em;
}

.heading-custom
{
    text-align: center;
    font-style: italic;
    padding: 2% 0%;
}

.homepage-wizard
{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(WebApps-Wizard.png);
    background-size:stretch;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: 50% 17%;
    width: 100%;
    height: 55vh;
    border: .5em rgb(231, 199, 230) solid;
    border-radius: 15px;
}

.homepage-dialogue-box
{
    margin-bottom: 10px;
    font-size: 1.5em;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    width: 95%;
    height: 15%;
}

.homepage-response-button
{
    font-weight: bolder;
    align-self: center !important;
    text-align: center;
    color: black !important;
    background-color: rgb(232, 170, 247) !important;
    border-radius: 1em;
    padding: .5em 1em;
    width: 50%;
}

.realm-selection-box
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 50vh;
    border: 1px rgb(88, 133, 255) solid;
    border-radius: 4%;
}

.text-purple
{
    color: #525396 !important;
}

.chat-room
{
    height: 65vh;
    width: 100%;
}

.chat-current-user
{
    color: #8283df !important
}

.chat-fields
{
    justify-self: end;
}

.scroll-bg
{
    background-color: rgb(145, 167, 185) !important;
    height: 65vh;
}


.scroll-div
{
    width: 100%;
    background-color: rgb(218, 238, 255) !important;
    height: 65vh;
    overflow: hidden;
    overflow-y: scroll;
}

.other-msg
{
    text-align: left;
}

.my-msg
{
    text-align: right;
}

.chat-room-username
{
    font-weight: bolder;
    align-self: center !important;
    text-align: center;
    color: white !important;
    background-color: #525396 !important;
    border-radius: 1em;
}

.realm-select-button
{
    font-weight: bolder;
    align-self: center !important;
    text-align: center;
    color: black !important;
    background-color: rgb(232, 170, 247) !important;
    border-radius: 1em;
    margin: .5em 1em;
    padding: .5em 1em;
    width: 40%;
}

.submit-button
{
    font-weight: bolder;
    align-self: center !important;
    text-align: center;
    color: white !important;
    background-color: #525396 !important;
    border-radius: 1em;
}

.chat-room-username-bottom
{
    color: white;
}


